<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Airtable Cards</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
    <div>
      <h3> New Token</h3>
      <a href="redirect-testing">Click to authorize and create a new access token</a>
      <br/>
      <%= latestRequestStateDisplayData %>
      <div>
        records: <%= cardData?.records?.length %>
      </div>
      <div class="cards">
        <% if (cardData) { for (const record of cardData?.records) { %>

          <page>
            <div class="page-content" id="<%= record?.id %>">
              <div class="header">
                <div class="title"><%= record?.fields?.Name %></div>
                <div class="button">x</>
              </div>
              <div class="content">
                <img src="<%= record?.fields?.Attachments?.at(0)?.thumbnails?.large?.url %>" />
                 <%= record?.fields?.Notes %>
                 <div class="sign">
                  2023 you
                </div>
              </div>
            </div>
          </page>
        <% } } %>
      </div>
    </div>
	</body>
</html>